.table {
    width: 100%;
    position: relative;
}

.table__entry {
    color: black;
}

.table__entry:hover {
    background-color: grey;
}


.table__header_item {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}
